node_modules/
.next/
out/
coverage/
playwright-report/
test-results/

.env
.env.*
!.env.example

prisma/*.db
prisma/*.db-journal

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
*.tsbuildinfo
